<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/form1"
>
<th:block layout:fragment="content">


    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h6 id="">컨텐</h6>
                </div>

                <div class="bs-component">

                </div><!-- /example -->
            </div>
        </div>
    </div>

    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h6 id="tables">댓글</h6>
                </div>

                <div class="bs-component">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">제목</th>
                            <th scope="col">추천회차</th>
                            <th scope="col">당첨결과</th>
                            <th scope="col">날짜</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr class="table-active" th:each="item : ${list}" th:if="${not #lists.isEmpty(list)}">
                            <!--                            <td th:text="${item.story}"></td>-->
                            <td><a th:href="@{/detail(idx=${item.idx})}" th:text="${item.story}"></a></td>
                            <td th:text="${item.targetDraw}"></td>
                            <td th:if="${item.place == 0}" th:text="추첨전"></td>
                            <td th:if="${item.place > 0 && item.place <= 5}" th:text="${item.place}"></td>
                            <td th:if="${item.place gt 5}" th:text="낙첨"></td>
                            <td th:text="${item.regDate}"></td>
                        </tr>
                        <tr class="table-active" th:if="${#lists.isEmpty(list)}">
                            <td colspan="2" style="text-align: center;">No Data</td>
                        </tr>

                        </tbody>
                    </table>
                </div><!-- /example -->
            </div>
        </div>
    </div>

    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h6 id="tables">꿈게시판</h6>
                </div>

                <div class="bs-component">
                    <table class="table table-hover">
                        <tbody>

                        <tr class="table-active" th:each="item : ${list}" th:if="${not #lists.isEmpty(list)}">
<!--                            <td th:text="${item.story}"></td>-->
                            <td><a th:href="@{/detail(idx=${item.idx})}" th:text="${item.story}"></a></td>
                            <td th:text="${item.targetDraw}"></td>
                            <td th:if="${item.place == 0}" th:text="추첨전"></td>
                            <td th:if="${item.place > 0 && item.place <= 5}" th:text="${item.place}"></td>
                            <td th:if="${item.place gt 5}" th:text="낙첨"></td>
                            <td th:text="${item.regDate}"></td>
                        </tr>
                        <tr class="table-active" th:if="${#lists.isEmpty(list)}">
                            <td colspan="2" style="text-align: center;">No Data</td>
                        </tr>

                        </tbody>
                    </table>
                </div><!-- /example -->
            </div>
        </div>
    </div>
    <div class="bs-docs-section" style="padding-top: 5px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                    <div>
                        <ul class="pagination pagination-sm" >
                            <li class="page-item">
                                <a class="page-link" style="background-color: #2c3e50;"  th:href="@{/(page=1)}">처음</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" style="background-color: #2c3e50;" th:href="@{/(page=${paging.presentPageBlockStart-paging.pageSize})}" th:if="${paging.presentPageBlockEnd > paging.pageSize}">&laquo;</a>
                            </li>
                            <th:block th:each="num : ${#numbers.sequence(1,10)}">

                                <li class="page-item">
                                    <a class="page-link" style="background-color: #2c3e50;" th:href="@{/(page=${num})}" th:text="${num}" th:if="${num != 0}"></a>
                                </li>
                            </th:block>
                            <li class="page-item">
                                <a class="page-link" style="background-color: #2c3e50;" th:if="${paging.presentPageBlockEnd < paging.totalPages}" th:href="@{/(page=${paging.presentPageBlockStart+paging.pageSize})}">&raquo;</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" style="background-color: #2c3e50;" th:href="@{/(page=${paging.totalPages})}">마지막</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>


