<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sbsft.wslapi.mapper.LotteryMapper">
    <insert id="insertWinningNumbers" parameterType="NumSet">

    </insert>

    <select id="getMaxDraw" resultType="int">
        select ifnull(max(draw),0) as draw from wslt.lotto_draw_history
    </select>

    <insert id="insertDrawHistory" parameterType="NumSet">
        INSERT INTO wslt.lotto_draw_history
        (draw,
         first,
         second,
         third,
         fourth,
         fifth,
         sixth,
         bonus,
         first_prize,
         second_prize,
         third_prize,
         fourth_prize,
         draw_date)
        VALUES     (
                #{draw},
                #{first},
                #{second},
                #{third},
                #{fourth},
                #{fifth},
                #{sixth},
                #{bonus},
                #{firstPrize},
                #{secondPrize},
                #{thirdPrize},
                #{fourthPrize},
                #{drawDate})
    </insert>

    <insert id="insertDreamResult" parameterType="DreamStory" useGeneratedKeys="true" keyProperty="idx" keyColumn="idx">
        insert into wslt.lotto_suggestions(story,snid,isShow) VALUES (#{story},#{snid},#{iss})

    </insert>

    <select id="selectDreamResultList" resultType="DreamStory" parameterType="int">

        select
          idx
        ,result
        , regd
        , story
        <![CDATA[
            ,CASE
            WHEN td < 60 THEN 'now'
            WHEN td >= 60 and td <=3600 THEN  concat(round(td/60),'min')
            WHEN td >= 3600 and td <=86400 THEN concat(round(td/3600),'hour')
            WHEN td >= 86400 and td <=604800 THEN concat(round(td/86400),'day')
            WHEN td >= 604800 and td <=2419200 THEN concat(round(td/604800),'week')
            WHEN td >= 2419200 THEN concat(round(td/2419200),'months')
            END as timer
            ]]>
        from (
            select
                sug.idx
                ,num.number_set as result
                ,story
                , date_format(regd, '%Y-%m-%d %H:%i') as regd
                , TIMESTAMPDIFF(SECOND, regd, now())  as td
            from
                wslt.lotto_suggestions sug
            left outer join
                wslt.lotto_suggestion_numset num
            on sug.snid = num.idx
            where isShow = 1
            order by idx desc
                limit ${_parameter},5
            ) tmp

    </select>

    <select id="selectDreamNumber" resultType="String" parameterType="String">
        select GROUP_CONCAT(num) from (
                                          select num,sum(count) as sc from (
                                                                               SELECT
                                                                                   word,
                                                                                   num,
                                                                                   ROUND (
                                                                                               (
                                                                                                       LENGTH(#{story})
                                                                                                       - LENGTH( REPLACE ( #{story},word, "") )
                                                                                                   ) / LENGTH(word)
                                                                                       ) AS count
                                                                               FROM wslt.word_num_map_list
                                                                               group by word
                                                                           ) tmp
                                          group by num
                                          order by sc desc
                                          limit 6
                                      ) tmp2
    </select>

    <select id="getDrawHistory" resultType="NumSet">
        select draw,first,second,third,fourth,fifth,sixth,bonus,draw_date from wslt.lotto_draw_history
    </select>

    <insert id="insertDrawSimulation" parameterType="NumSet">
        insert into wslt.lotto_draw_simmulation(nid,draw,place) values (#{idx},#{draw},#{place})
    </insert>

    <select id="seleteUnpackedSuggestionList" resultType="DreamStory">
        select * from wslt.lotto_suggestions
        where idx not in (select distinct nid from wslt.lotto_draw_simmulation)
          and isShow = 1
    </select>

    <insert id="insertNumberCombiTotalPrize" parameterType="NumSet">
        insert into wslt.lotto_number_combi(nid,total_prize) values(#{idx},#{totalPrize})
    </insert>

    <select id="countNumberSet" resultType="int">
        select count(*) as cnt from wslt.lotto_suggestion_numset
        where number_set = '${result}'
    </select>

    <insert id="insertNumberSet" parameterType="DreamStory">
        insert into wslt.lotto_suggestion_numset(number_set,sug_cnt) values (#{result},1)
    </insert>
    <update id="updateSuggestionCount" parameterType="DreamStory">
        update wslt.lotto_suggestion_numset
        set sug_cnt = sug_cnt+1,lst_sug_date = now()
        where number_set = '${result}'
    </update>

    <select id="getNumberSet" parameterType="DreamStory" resultType="NumSet">
        select idx from wslt.lotto_suggestion_numset
        where number_set = '${result}'
    </select>

    <update id="updateNumberCombiTotalPrize" parameterType="NumSet">
        update wslt.lotto_suggestion_numset
        set total_prize = #{totalPrize}
        where idx = #{idx}

    </update>

</mapper>